# Railway database URL
# DATABASE_URL="postgresql://postgres:cGhjzvlGONViGXpoainwwVTthIQMLnxb@centerbeam.proxy.rlwy.net:36213/railway"

## Local Development
## Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ms-users?schema=public"

PORT=3333

## Swagger
API_NAME="MS Users"
API_SERVER="http://localhost:3333"
API_DESCRIPTION="Microservice for managing users"
API_VERSION="1.0.0"
API_TAGS='ms-users'
